body {
  color: #52616b;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.58;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #f0f5f9;
  font-family: "Kanit", sans-serif;
  display: block;
}

.content {
  max-width: 700px;
  margin: 56px auto;
}

.block {
  text-align: center;
  padding: 15px;
}

.profile {
  margin-top: -110px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #52616b;
}

a:hover {
  color: #c9d6df;
}

.a {
  color: #52616b;
}

.outer {
  text-align: center;
  margin: 0 auto;
}

.products {
  background-color: #1e2022;
  color: #fff;
  padding: 7px;
  margin: 10px;
  border-radius: 25px;
}

.page-not-found {
  text-align: center;
}
